/*=======================FONT============*/
/* fallback */
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v49/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2'),
       url(https://fonts.gstatic.com/s/materialiconsround/v50/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmJ.woff) format('woff');
}

.hlsjs-big-play-btn, .hlsjs-ctrl-btn {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*=======================================*/

:root {
  --value: 50%;
}

.hlsjs-container {
  position: relative;
}

.hlsjs-container,
.hlsjs-container * {
  box-sizing: border-box;
}

.hlsjs-container > .hlsjs-controls {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hlsjs-controls:not([shown]) {
    cursor: none;
}
.hlsjs-video {
  width: 100%;
  height: 100%;
}
.hlsjs-controls > *{
  opacity: 0;
  transition: .2s;
  z-index: 0;
}
.hlsjs-controls[shown] > *{
  opacity: 1;
  z-index: 1;
}

.hlsjs-controls[shown] > .hlsjs-backface {
  z-index: 0;
}

.hlsjs-controls > .hlsjs-backface {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 33%);
  z-index: 1;
}

.hlsjs-topbar, .hlsjs-toolbar {
  position: relative;
  width: 100%;
  padding: .4em;
}
.hlsjs-topbar {
  display: inline-flex;
}
.hlsjs-toolbar {
  display: flex;
  flex-direction: column;
}

.hlsjs-title, .hlsjs-live-tag {
  color: #fff;
  font-family: sans-serif;
  font-size: 1em;
}

.hlsjs-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.hlsjs-live-tag {
  font-size: .6em;
  background: #00b500;
  padding: .3em .4em;
  vertical-align: middle;
  border-radius: 1em;
  font-weight: 100;
  border: none;
  outline: none;
  cursor: pointer;
}
.hlsjs-live-tag:not([live]) {
  background: #b50000;
}

.hlsjs-controls > .hlsjs-big-play-btn {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background: rgb(255 255 255 / 75%);
  outline: none;
  overflow: hidden;
  font-size: 48px;
  vertical-align: middle;
  text-align: center;
  padding-left: .15em;
  cursor: pointer;
}

.hlsjs-loader {
  z-index: 0 !important;
  opacity: 0 !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  position: absolute;
  transition: .1s;
}
.hlsjs-loader[shown] {
  opacity: 1 !important;
}
.loader {
  width: 100%;
  height: 100%;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hlsjs-toolbar-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
  position: relative;
}

.hlsjs-left, .hlsjs-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hlsjs-ctrl-btn {
  border: none;
  height: 24px;
  width: 24px;
  margin: .225em;
  padding: 0;
  outline: none;
  border-radius: 50%;
  background: rgb(0 0 0 / 0%);
  color: #fff;
  cursor: pointer;
}
.hlsjs-ctrl-btn.btn-lt {
  float: left;
}
.hlsjs-ctrl-btn.btn-rt {
  float: right;
}

.hlsjs-dropdown {
  position: absolute;
  max-width: 180px;
  max-height: 240px;
  background: #fff;
  bottom: 5px;
  right: 0;
  margin-right: 12px;
  height: auto;
  width: auto;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 20%);
  overflow: auto;
  padding: .4em 0;
  transition: .3s;
}
.hlsjs-dropdown:not([shown]) {
  right: -280px;
}

.hlsjs-container.hlsjs-mob .hlsjs-dropdown {
  position: fixed;
  margin: 0;
  border-radius: 0;
  max-width: 100%;
  max-height: 75%;
  width: 100%;
  bottom: 0;
  right: 0;
}
.hlsjs-container.hlsjs-mob .hlsjs-dropdown:not([shown]) {
  bottom: -100%;
}
.hlsjs-container.hlsjs-mob .hlsjs-controls[dropdown] > .hlsjs-backface {
    position: fixed;
    z-index: 1;
}

.hlsjs-dropdown-item, .hlsjs-select-option {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.3em .6em;
  position: relative;
  clear: both;
  cursor: pointer;
  overflow: auto;
}

.hlsjs-dropdown-item:hover, .hlsjs-select-option:hover {
  background: #e6e6e6;
}

.hlsjs-dropdown-item-data, .hlsjs-select-option-name, .hlsjs-select-option-selected {
  font-size: 1em;
  font-family: sans-serif;
  height: 100%;
  line-height: 24px;
  vertical-align: middle;
}

.hlsjs-dropdown-item-data.it-nm, .hlsjs-select-option-name {
  float: left;
  color: #555;
  margin-right: 1em;
}

.hlsjs-dropdown-item-data.it-val, .hlsjs-select-option-selected {
  float: right;
  font-size: .8em;
  color: #777;
}

.hlsjs-select {
  position: relative;
  bottom: 0;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  height: auto;
  width: auto;
  overflow: auto;
}

.hlsjs-select-option[selected] {
  background: #c6c6c6;
}
.hlsjs-select-option[selected] > .hlsjs-select-option-name {
  color: #000;
  font-weight: 800;
}
.hlsjs-select-option[selected] > .hlsjs-select-option-selected {
  width: 10px;
  height: 10px;
  background: #00b500;
  margin: 5px;
  border-radius: 50%;
}

[hide] {
  display: none !important;
}

.hlsjs-controls.hlsjs-live .hlsjs-seek-container,
.hlsjs-controls.hlsjs-live .hlsjs-time-container,
.hlsjs-controls.hlsjs-live .hlsjs-speed {
  display: none;
}


/////////////////
.hlsjs-slider-container {
  width: 100%;
}

.hlsjs-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #d3d3d3;
  background: linear-gradient(to right, #2196f3 0%, #2196f3 var(--value), #ccc var(--value), #ccc 100%);
  outline: none;
  margin: 0;
}

.hlsjs-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.hlsjs-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.hlsjs-slider::-webkit-slider-runnable-track {
  color: #2196f3;
}

/** FF*/
.hlsjs-slider::-moz-range-progress {
  background-color: #2196f3;
}
.hlsjs-slider::-moz-range-track {
  background-color: #ccc;
}
/* IE*/
.hlsjs-slider::-ms-fill-lower {
  background-color: #2196f3;
}
.hlsjs-slider::-ms-fill-upper {
  background-color: #ccc;
}

.hlsjs-volume-container {
  margin: 0 .2em;
}
.hlsjs-volume-container:hover {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.hlsjs-volume {
  float: left;
  width: 100px;
  margin: 14px;
  transition: .2s;
  margin-right: 5px;
}

.hlsjs-volume-container:not(:hover) .hlsjs-volume {
  width: 0;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}

.hlsjs-container.hlsjs-mob .hlsjs-volume {
  display: none;
}

.hlsjs-container.hlsjs-mob .hlsjs-volume-container {
  margin: 0;
}

.hlsjs-container.hlsjs-mob .hlsjs-volume-container:hover {
  background: transparent;
  border-radius: 0;
}








.hlsjs-time-container {
  color: #fff;
  height: 100%;
  overflow: auto;
  padding: .48em;
  vertical-align: middle;
}

.hlsjs-current-time {
  font-family: sans-serif;
}


.hlsjs-seek-container {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: .5em;
  position: relative;
}

.hlsjs-seek {
  z-index: 1;
  width: 100%;
  background: linear-gradient(to right, #2196f3 0%, #2196f3 var(--value), rgba(0, 0, 0, 0) var(--value), rgba(0, 0, 0, 0) 100%);
}

.hlsjs-progress {
  position: absolute;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #bbb;
  z-index: 0;
}

.hlsjs-progress::-webkit-progress-value  {
    background: #eee;
    border-radius: 5px;
}

.hlsjs-progress::-moz-progress-value  {
    background: #eee;
    border-radius: 5px;
}

.hlsjs-progress::-webkit-progress-bar  {
    background: #bbb;
    border-radius: 5px;
}
.hlsjs-progress::-moz-progress-bar {
    background: #bbb;
    border-radius: 5px;
}
